<style>
  :host {
    display: flex;
    padding: 30px;
    justify-content: center;
  }
  .main-container {
    margin-right: 30px;
  }

  .info {
    width: 100%;
    margin-top: 10px;
  }
</style>

@let stockItem = stock();
@let stockSectorName = sectorName();

@if (stockItem) {
  <div class="main-container">
    @defer {
      <app-stock-card [sectorName]="stockSectorName" [stock]="stockItem">
      </app-stock-card>
    }

    <div class="info">
      <tui-tabs [(activeItemIndex)]="activeItemIndex">
        <button tuiTab type="button" (click)="onClick('Review')">Обзор</button>
        <button tuiTab type="button" (click)="onClick('Pulse')">Пульс</button>
        <button tuiTab type="button" (click)="onClick('Dividends')">
          Дивиденды
        </button>
        <button tuiTab type="button" (click)="onClick('News')">Новости</button>
      </tui-tabs>
    </div>
  </div>

  <div class="sidebar">
    @defer {
      <app-price-card [price]="stockItem.price"></app-price-card>
    }
  </div>
}
