<style>
  :host {
    display: flex;
    padding: 30px;
    justify-content: center;
  }
  .main-container {
    margin-right: 30px;
    max-width: 720px;
  }

  .info {
    width: 100%;
    margin-top: 10px;
  }
</style>

@let _currency = currency();

@if (_currency) {
  <div class="main-container">
    @defer {
      <app-currency-card
        [brandName]="_currency.name"
        [brandLogo]="_currency.logoName"
        [ticker]="_currency.shortName"
        (toggleFavorite)="toggleFavorite($event)" />
    }

    <div class="info">
      <tui-tabs [(activeItemIndex)]="activeItemIndex">
        <button
          tuiTab
          type="button"
          [routerLink]="'/' + currenciesPage + '/' + _currency.shortName"
          (click)="onClick('Review')">
          Обзор
        </button>
        <button
          tuiTab
          type="button"
          routerLink="pulse"
          (click)="onClick('Pulse')">
          Пульс
        </button>
        <button
          tuiTab
          type="button"
          routerLink="news"
          (click)="onClick('News')">
          Новости
        </button>
      </tui-tabs>

      <router-outlet [routerOutletData]="currency()"></router-outlet>
    </div>
  </div>

  <div class="sidebar">
    @defer {
      <app-price-card [price]="_currency.price"></app-price-card>
    }
  </div>
}
