<h2>Каталог акций</h2>

@let stockItems = stocks();

<table
  tuiTable
  class="table"
  [columns]="displayedColumns"
>
  <thead>
  <tr tuiThGroup>
    <th tuiTh [resizable]="true">Название</th>
    <th tuiTh>Цена</th>
    <th tuiTh>Цена за день</th>
  </tr>
  </thead>
  <tbody
    tuiTbody
    [data]="stockItems"
  >
  <tr
    *ngFor="let item of stockItems"
    [routerLink]="'stocks/' + item.shortName"
    tuiTr
  >
    <td
      *tuiCell="'name'"
      tuiTd
    >
      <p>{{ item.name }}</p>
      <p>{{ item.shortName }}</p>
    </td>
    <td
      *tuiCell="'price'"
      tuiTd
    >
      <p>{{ item.price.value | tuiFormatNumber | async }} {{ item.price.currency | tuiCurrency }}</p>
      <p>1 лот = {{item.lotSize}} {{item.lotSize === 1 ? 'акция' : 'акций'}}</p>
    </td>
    <td
      *tuiCell="'absolutePrice'"
      tuiTd
    >
      {{ item.earnings.absolute.value | tuiFormatNumber | async }}
    </td>
  </tr>
  </tbody>
</table>
