:host {
  padding: 30px;
  display: flex;
  flex-flow: column;
}

.stock__tr {
  cursor: pointer;
}

.stock__icon-badge {
  display: flex;
  align-items: center;
}

.stock__name {
  margin-left: 10px;
}
