<style>
  .company-link {
    display: inline-block;
    margin-top: 12px;
  }
  .exchange {
    display: flex;
    gap: 70px;
    margin-top: 24px;
  }
</style>

@let stock = stock$();
@let company = company$();

<h2>О компании {{ stock.name }}</h2>

@if (company) {
  <div>{{ company.brandInfo }}</div>

  @if (company.externalLinks.main) {
    <a class="company-link" [href]="company.externalLinks.main"
      >Официальный сайт компании</a
    >
  }

  <div class="exchange">
    <div tuiTitle>
      <span tuiSubtitle>Страна эмитента</span>
      <div>
        <tui-avatar
          class="stock__logo"
          appearance="primary"
          size="xs"
          [src]="stock.countryLogo" />
        {{ stock.countryName }}
      </div>
    </div>

    <div tuiTitle>
      <span tuiSubtitle>Биржа торгов</span>
      <div>
        <tui-avatar
          class="stock__logo"
          appearance="primary"
          size="xs"
          [src]="stock.exchangeLogo" />
        {{ stock.exchangeName }}
      </div>
    </div>
  </div>
}
