@let stockItems = stocks();

<h2 tuiTitle="m" class="title">Каталог акций</h2>

<div>
  <tui-select [formControl]="controlCurrency" [tuiTextfieldCleaner]="true">
    Валюта
    <input
      placeholder="Выбрать валюту"
      tuiTextfieldLegacy
    />
    <tui-data-list-wrapper
      *tuiDataList
      [items]="currencies"
    />
  </tui-select>
</div>

<table tuiTable class="table" [columns]="displayedColumns">
  <thead>
    <tr tuiThGroup>
      <th tuiTh [resizable]="true">Название</th>
      <th tuiTh>Цена</th>
      <th tuiTh>Цена за день</th>
    </tr>
  </thead>
  <tbody tuiTbody [data]="stockItems">
    @for (item of stockItems; track $index) {
      <tr
        [routerLink]="'stocks/' + item.shortName"
        class="stock__tr"
        tuiTr
      >
        <td *tuiCell="'name'" tuiTd>
          <div class="stock__icon-badge">
            <tui-avatar [src]="item.logoName | tuiIcon" size="m" />

            <span tuiTitle class="stock__name">
            {{ item.name }}
              <span tuiSubtitle>{{ item.shortName }}</span>
          </span>
          </div>
        </td>
        <td *tuiCell="'price'" tuiTd>
        <span tuiTitle>
          {{ item.price.value | tuiFormatNumber | async }}
          {{ item.price.currency | tuiCurrency }}
          <span tuiSubtitle
          >1 лот = {{ item.lotSize }}
            {{ item.lotSize === 1 ? "акция" : "акций" }}</span
          >
        </span>
        </td>
        <td *tuiCell="'absolutePrice'" tuiTd>
          {{ item.earnings.absolute.value | tuiFormatNumber | async }}
        </td>
      </tr>
    }
  </tbody>
</table>
