@let stockItem = stock();

<div class="stock" tuiAppearance="floating" tuiCardLarge>
  <div class="stock__sprite">
    <div class="stock__section stock__section_left">
      <div class="stock__name-wrap">
        <h1 tuiTitle="l">
          {{ stockItem.name }}
          <span tuiSubtitle>{{ stockItem.shortName }}</span>
        </h1>
      </div>
      <div class="stock__extra-info">
        <div tuiTitle>
          <span tuiSubtitle>Доходность за полгода</span>
          −10,75%
        </div>
        <div tuiTitle>
          <span tuiSubtitle>Сектор</span>
          {{ sectorName() }}
        </div>
      </div>
    </div>
    <div class="stock__logo-wrap">
      <tui-avatar
        class="stock__logo"
        appearance="primary"
        size="xxl"
        [src]="stockItem.logoName" />
      <input
        size="m"
        [tuiLike]="'gold'"
        type="checkbox"
        class="stock__star"
        appearance="info"
        [checked]="stockItem.isFavorite"
        [checkedIcon]="'@tui.star-filled'"
        [uncheckedIcon]="'@tui.star'"
        (change)="favorite(stockItem)" />
    </div>
  </div>
</div>
