<style>
  :host {
    display: flex;
    padding: 30px;
  }
  .stock {
    width: 720px;
    margin-right: 30px;
  }
  .stock__logo {
    margin-right: 15px;
  }
  .price-card__date {
    color: rgba(0, 0, 0, .54);
    margin-bottom: 12px;
    font-size: 13px;
    font-weight: 400;
  }
  .price-card__money {
    font-size: 28px;
    font-weight: 500;
  }
</style>

@let stockItem = stock();

@if (stockItem) {
  <div
    class="stock"
    tuiAppearance="floating"
    tuiCardLarge
  >
    <header tuiHeader>
      <tui-avatar
        class="stock__logo"
        appearance="primary"
        size="xl"
        [src]="stockItem.logoName"
      />
      <h1 tuiTitle>
        {{ stockItem.name }}
        <span tuiSubtitle>{{ stockItem.shortName }}</span>
      </h1>
      <input
        size="m"
        tuiLike
        type="checkbox"
        [checkedIcon]="'@tui.star-filled'"
        [uncheckedIcon]="'@tui.star'"
      />
    </header>
    <div class="stock__sector">
      <p class="stock__sector-name">Доходность за полгода</p>
      <p>−10,75%</p>
    </div>
    <div class="stock__sector">
      <p class="stock__sector-name">Сектор</p>
      <p>{{stockItem.sector}}</p>
    </div>
  </div>

  <div tuiAppearance="floating" tuiCardLarge>
    <p class="price-card__date">Цена акции {{ today | date }}</p>
    <div tuiTitle class="price-card__money">
      {{stockItem.price.value | tuiFormatNumber | async}} {{stockItem.price.currency | tuiCurrency}}
    </div>
    <button
      appearance="accent"
      size="m"
      tuiButton
      type="button"
    >
      Открыть счет
    </button>
    <p>
      Если у вас уже есть счет,<br />
      <a
        tuiLink
        [routerLink]="'/login'">
        войдите в личный кабинет
      </a>
    </p>
  </div>
}
