<style>
  * {
    font-family: Verdana;
  }
  :host {
    display: flex;
  }
  .stock {
    display: flex;
    background-color: red;
    width: 720px;
    color: #fff;
    padding: 24px;
    box-sizing: border-box;
    position: relative;
    border-radius: 24px;
  }
  .stock__info {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
  }
  .stock__name {
    font-size: 28px;
    font-weight: 700;
  }
  .stock__short-name {
    font-size: 14px;
    position: relative;
    top: -12px;
    margin-left: 5px;
  }
  .price-card {
    background: #fff;
    border: 1px solid #e7e8ea;
    border-radius: 24px;
    color: rgba(0, 0, 0, .54);
    padding: 24px 20px 20px;
    margin-left: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .price-card__date {
    color: rgba(0, 0, 0, .54);
    margin-bottom: 12px;
    font-size: 13px;
    font-weight: 400;
  }
  .price-card__money {
    color: #333;
    font-size: 28px;
    font-weight: 500;
  }
</style>

@let stockItem = stock();

@if (stockItem) {
  <div class="stock">
    <div class="stock__info">
      <div class="stock__full-name">
        <span class="stock__name">{{ stockItem.name }}</span>
        <span class="stock__short-name">{{ stockItem.shortName }}</span>
      </div>
      <div class="stock__sector">
        <p class="stock__sector-name">Доходность за полгода</p>
        <p>−10,75%</p>
      </div>
    </div>
    <div class="stock__logo">img</div>
  </div>

  <div class="price-card">
    <p class="price-card__date">Цена акции 10 ноября 2024</p>
    <p class="price-card__money">{{stockItem.price}} ₽</p>
    <button>Открыть счет</button>
    <p>
      Если у вас уже есть счет,
      <a href="#">войдите в личный кабинет</a>
    </p>
  </div>
}
